*.bak
*.out
*.vcd

/quartus_project/db/
/quartus_project/incremental_db/
/quartus_project/simulation/
/quartus_project/c5_pin_model_dump.txt

/quartus_project/*.ddb
/quartus_project/*.done
/quartus_project/*.jdi
/quartus_project/*.pof
/quartus_project/*.qws
/quartus_project/*.rpt
/quartus_project/*.smsg
/quartus_project/*.sof
/quartus_project/*.summary
quartus_project/tb2_ie_info.xml
*.pin
